<div class="sidebar">
  <div class="sidebar-wrapper">
    <div class="logo">
      <a href="javascript:void(0)" class="simple-text logo-mini">
        BS
      </a>
      <a href="javascript:void(0)" class="simple-text logo-normal">
        Beestrap
      </a>
    </div>
    <ul class="nav">
      {%- assign page_slug = page.url | split: '/' | last -%}
      {%- for group in site.data.nav -%}
      {%- assign link = group.pages | first -%}
      {%- assign link_slug = link.title | slugify -%}
      {%- assign group_slug = group.title | slugify -%}
      {%- assign active = nil -%}

      {%- if page.group == group_slug -%}
        {%- assign active = 'active' -%}
      {%- endif -%}
      <li>
        <a data-toggle="collapse" href="#{{ group_slug }}">
          <i class="bee-icons icon-image-02">{{ group.title | slice: 0 | upcase }}</i>
          <p>
            {{ group.title }}
            <b class="caret"></b>
          </p>
        </a>
        <div class="collapse" id="{{ group_slug }}">
          <ul class="nav">
            {%- for doc in group.pages -%}
            {%- assign doc_slug = doc.title | slugify -%}
            {%- assign active = nil -%}

            {%- if page.group == group_slug and page_slug == doc_slug -%}
              {%- assign active = 'active bd-sidenav-active' -%}
            {%- endif -%}
            <li>
              <a href="{{ site.baseurl }}/docs/{{ site.docs_version }}/{{ group_slug }}/{{ doc_slug }}/">
                <span class="sidebar-mini-icon"> {{ doc.title | slice: 0 | upcase }} </span>
                <span class="sidebar-normal"> {{ doc.title }} </span>
              </a>
            </li>
            {%- endfor -%}
          </ul>
        </div>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</div>
