// Redefine Bootstrap colors

$font-family-sans-serif:          "Montserrat", "Helvetica Neue",  arial, sans-serif !default;

$be-primary-color:       #2e44f9 !default;
$be-secondary-color:     #9fa2b3 !default;
$be-success-color:       #18ce0f !default;
$be-info-color:          #2ca8ff !default;
$be-warning-color:       #ffb236 !default;
$be-danger-color:        #ff3636 !default;

$be-primary:               $be-primary-color !default;
$be-secondary:             $be-secondary-color !default;
$be-success:               $be-success-color !default;
$be-info:                  $be-info-color !default;
$be-warning:               $be-warning-color !default;
$be-danger:                $be-danger-color !default;

$beestrap-colors: () !default;
// stylelint-disable
$beestrap-colors: map-merge(
  (
    "primary":    $be-primary,
    "secondary":  $be-secondary,
    "success":    $be-success,
    "info":       $be-info,
    "warning":    $be-warning,
    "danger":     $be-danger,
  ),
  $beestrap-colors
);
// stylelint-enabled
