%card-stats {
  hr {
    margin: 5px 15px;
  }
}

.card-stats {
  @extend %card-stats;

  .info-icon {
    width: 70px;
    height: 70px;
    background: $primary;
    border-radius: 50%;

    i {
      padding: 17px 13px;
      font-size: 2.3em;
      color: $white;
    }

    &.icon-danger {
      background: $danger;
    }

    &.icon-warning {
      background: $warning;
    }

    &.icon-success {
      background: $success;
    }

    &.icon-info {
      background: $info;
    }

    &.icon-primary {
      background: $primary;
    }
  }

  .numbers {
    text-align: right;

    .card-title {
      margin-top: 0;
    }

    .card-category {
      margin-bottom: 0;
      color: $dark-gray;
    }
  }

  .card-footer {
    padding: 0;
  }

  hr {
    border-color: lighten($black, 5%);
  }

  .stats {
    margin: 10px 15px;
    font-size: .9em;
    color: rgba($white, .6);
  }

  &.card-white {
    hr {
      border-color: rgba(43, 53, 83, .2);
    }
  }
}

@include media-breakpoint-down(sm) {
  .card-stats [class*="col-"] .statistics::after {
    display: none;
  }
}
