.card-lock {
  .card-header {
    img {
      width: 120px;
      height: 120px;
      margin-top: -60px;
      border-radius: 50%;
      box-shadow: $box-shadow-raised;
    }
  }

}

@include media-breakpoint-up(sm) {
  .card.card-lock {
    margin-top: 13vh;
  }
}
