.badge {
  margin-bottom: 5px;
  line-height: 12px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

.badge-icon {
  padding: .4em .55em;

  i {
    font-size: .8em;
  }
}

@each $color, $value in $common-colors {
  .badge-#{$color} {
    @include badge-theme(darken($value, 10%));
  }
}

.bootstrap-tagsinput {
  @each $color, $value in $common-colors {
    &.#{$color}-badge .tag {
      color: $white;
      background: darken($value, 10%);
    }
  }
}
