.nav-pills {
  &.flex-column li > a {
    margin-bottom: 15px;
  }

  &.nav-pills:not(.flex-column) .nav-item:not(:last-child) .nav-link {
    margin-right: 10px;
    margin-bottom: 5px;
  }

  &:not(.nav-pills-icons):not(.nav-pills-just-icons) .nav-item .nav-link {
    border-radius: $btn-round-radius;
  }

  &.nav-pills-just-icons .nav-item .nav-link {
    width: 80px;
    min-width: auto;
    max-width: 80px;
    height: 80px;
    padding: 0;
    border-radius: 50%;

    .#{$prefix}-icons {
      font-size: 24px;
      line-height: 80px;
    }
  }

  .nav-item {
    .nav-link {
      min-width: 100px;
      padding: $padding-btn-vertical $padding-round-horizontal;
      font-weight: $font-weight-normal;
      color: rgba($white, .5);
      text-align: center;
      background-color: darken($black, 5%);

      &:hover{
        background-color: darken($black, 10%);
      }

      &.active{
        &,
        &:focus,
        &:hover {
          color: $white;
          background-color: $dark-gray;
          box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        }
      }

      &.disabled,
      &:disabled,
      &[disabled]{
        opacity: .5;
      }
    }

    i {
      display: block;
      font-size: 24px;
      line-height: 60px;
    }
  }

  &.nav-pills-neutral {
    .nav-item {
      .nav-link {
        color: $white;
        background-color: $opacity-2;

        &.active {
          &,
          &:focus,
          &:hover {
            color: $primary;
            background-color: $white;
          }
        }
      }
    }
  }

  @each $color-name, $color in $common-colors {
    &.nav-pills-#{$color-name} {
      .nav-item {
        .nav-link.active {
          &,
          &:focus,
          &:hover {
            @include diagonal-gradient($color, map-get($common-states, $color-name));
          }
        }
      }
    }
  }
}

.tab-space {
  padding: 20px 0 50px 0;
}

.tab-content {
  &.tab-subcategories {
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 20px;
    background-color: $transparent-bg;
  }
}

.nav-align-center {
  text-align: center;

  .nav-pills{
    display: inline-flex;
  }
}
