.wrapper {
  position: relative;
  top: 0;
  z-index: 1050;
  height: 100vh;

  &.wrapper-full-page {
    height: auto;
    min-height: 100vh;
  }
}

// stylelint-disable
.sidebar-wrapper ul li div.collapse ul li div.collapse ul li a,
.sidebar-wrapper ul li div.collapse ul li div.collapsing ul li a,
.sidebar-wrapper ul li div.collapsing ul li div.collapse ul li a {
  margin-left: 25px;
}
// stylelint-enable

.sidebar,
.off-canvas-sidebar {
  @include linear-gradient($primary-states, $primary);

  position: fixed;
  top: 10px;
  bottom: 10px;
  left: 10px;
  z-index: 1;
  display: block;
  width: 230px;
  background-position: center center;
  background-size: cover;
  border-radius: 7px;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, .6);

  .sidebar-wrapper {
    position: relative;
    z-index: 4;
    width: $full-width;
    min-height: 100%;
    max-height: calc(100vh - 705px);
    overflow: auto;

    .dropdown .dropdown-backdrop{
      display: none !important;
    }

    .navbar-form{
      border: none;
    }

    > .nav,
    .user .info {
      // stylelint-disable
      [data-toggle="collapse"] ~ div > ul > li > a {
        span{
          display: inline-block;
          @extend .animation-transition-general;
        }

        .sidebar-normal {
          position: relative;
          z-index: 1;
          display: block;
          margin: 0;
          line-height: 23px;
          color: $opacity-8;
          white-space: nowrap;
          opacity: 1;
          transform: translateX(0);
        }

        .sidebar-mini-icon {
          position: relative;
          z-index: 1;
          display: inherit;
          float: left;
          width: 34px;
          margin-right: 10px;
          margin-left: 0;
          font-size: 12px;
          line-height: 24px;
          color: $opacity-8;
          text-align: center;
          text-transform: uppercase;
        }
        // stylelint-enable

        // stylelint-disable
        i {
          width: 26px;
          font-size: 17px;
          line-height: 20px;
        }
        // stylelint-enable
      }
    }

    // stylelint-disable
    [data-toggle="collapse"] ~ div > ul > li:hover > a {
      .sidebar-mini-icon,
      .sidebar-normal {
        color: $white;
      }
    }
    // stylelint-enable

    // stylelint-disable
    .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon {
      opacity: 0;
    }
    // stylelint-enable
  }

  .navbar-minimize {
    position: absolute;
    top: 2px;
    right: 20px;
    opacity: 1;
    @extend .animation-transition-general;
  }

  .nav {
    display: block;
    margin-top: 20px;

    .caret {
      position: absolute;
      top: 14px;
      right: 10px;
    }

    li {
      > a + div .nav {
        margin-top: 5px;

        li > a {
          padding: 8px 8px;
          margin-top: 0;
        }
      }

      > a {
        position: relative;
        display: block;
        padding: 10px 8px;
        margin: 10px 15px 0;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        border-radius: $btn-round-radius;
      }

      &:first-child > a{
        margin: 0 15px;
      }

      &:hover:not(.active) > a,
      &:focus:not(.active) > a {
        p,
        i {
          color: $white;
        }
      }

      &:hover:not(.active) > a i,
      &:focus:not(.active) > a i {
        color: $white;
      }

      &.active > a:not([data-toggle="collapse"]){
        background: transparent;

        i,
        p {
          color: #fff;
        }

        &::before {
          position: absolute;
          top: 22px;
          left: -4px;
          width: 6px;
          height: 6px;
          content: " ";
          background: $white;
          border-radius: 50%;
        }
      }

      &.active > a[data-toggle="collapse"] {
        color: $white;
        background: transparent;
        box-shadow: none;

        i {
          color: $white;
        }

        // stylelint-disable
        & + div .nav .active a {
          box-shadow: none;

          .sidebar-mini-icon,
          .sidebar-normal {
            font-weight: $font-weight-normal;
            color: $white;
          }

          &::before {
            position: absolute;
            top: 17px;
            left: -4px;
            width: 6px;
            height: 6px;
            content: " ";
            background: $white;
            border-radius: 50%;
          }
        }
        // stylelint-enable

        &::before {
          position: absolute;
          top: 22px;
          left: -4px;
          width: 6px;
          height: 6px;
          content: " ";
          background: rgba($white, .6);
          border-radius: 50%;
        }
      }
    }

    p {
      position: relative;
      display: block;
      height: auto;
      margin: 0;
      line-height: 30px;
      white-space: nowrap;
      @extend .animation-transition-general;
    }

    i {
      position: relative;
      float: left;
      width: 34px;
      margin-right: 12px;
      font-size: 26px;
      line-height: 30px;
      color: $opacity-8;
      text-align: center;
    }
  }

  .sidebar-background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: $full-width;
    height: 100%;
    background-position: center center;
    background-size: cover;

    &::after {
      position: absolute;
      z-index: 3;
      display: block;
      width: $full-width;
      height: 100%;
      content: "";
      background: #fff;
      opacity: 1;
    }
  }

  .logo {
    position: relative;
    z-index: 4;
    padding: $padding-base-vertical $padding-base-horizontal 1rem;

    a.logo-mini,
    a.logo-normal {
      @extend .animation-transition-general;
    }

    a.logo-mini{
      float: left;
      width: 34px;
      margin-right: 12px;
      margin-left: 10px;
      text-align: center;
      opacity: 1;
    }

    a.logo-normal {
      display: block;
      opacity: 1;
      @include transform-translate-x(0);
    }

    &::after {
      position: absolute;
      right: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      height: 1px;
      content: "";
      background: $opacity-5;
    }

    p {
      float: left;
      margin: 10px 10px;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 20px;
      line-height: 20px;
      color: $white;
    }

    .simple-text {
      display: block;
      padding: $padding-base-vertical 0;
      overflow: hidden;
      font-size: $font-size-base;
      font-weight: $font-weight-normal;
      line-height: 30px;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      white-space: nowrap;
    }
  }

  .logo-#{$prefix} {
    display: block;
    float: left;
    width: 61px;
    height: 61px;
    overflow: hidden;
    border: 1px solid #333;
    border-radius: 50%;

    img {
      width: 60px;
      height: 60px;
    }
  }

  &[data="default"] {
    @include linear-gradient($default-states, $default);
    &::before {
      border-bottom-color: $default;
    }
  }

  &[data="black"] {
    @include linear-gradient($black-states, $black);
    &::before {
      border-bottom-color: $black;
    }
  }

  &[data="blue"] {
    @include linear-gradient($info-states, $info);
    &::before {
      border-bottom-color: $info;
    }
  }

  &[data="green"] {
    @include linear-gradient($success-states, $success);
    &::before {
      border-bottom-color: $success;
    }
  }

  &[data="orange"] {
    @include linear-gradient($warning-states, $warning);
    &::before {
      border-bottom-color: $warning;
    }
  }

  &[data="red"] {
    @include linear-gradient($danger-states, $danger);
    &::before {
      border-bottom-color: $danger;
    }
  }

  .user {
    position: relative;
    padding-bottom: 20px;
    margin: 20px auto 0;

    &::after {
      position: absolute;
      right: 15px;
      bottom: 0;
      width: calc(100% - 30px);
      height: 1px;
      content: "";
      background: $opacity-5;
    }

    .photo {
      z-index: 5;
      float: left;
      width: 34px;
      height: 34px;
      margin-right: 10px;
      margin-left: 23px;
      overflow: hidden;
      border-radius: 50%;
      box-shadow: $box-shadow-raised;
      @extend .animation-transition-general;

      img {
        width: $full-width;
      }
    }

    a {
      padding: $padding-base-vertical 15px;
      color: $white;
      text-decoration: none;
      white-space: nowrap;
      @extend .animation-transition-general;
    }

    .info{
      > a{
        display: block;
        line-height: 18px;

        > span{
          @extend .animation-transition-general;
          position: relative;
          display: block;
          opacity: 1;
        }
      }

      .caret {
        position: absolute;
        top: 8px;
        right: 18px;
      }
    }
  }
}

.visible-on-sidebar-regular{
  display: inline-block !important;
}

.visible-on-sidebar-mini{
  display: none !important;
}

.off-canvas-sidebar {
  .nav {
    > li > a,
    > li > a:hover{
      color: $white;
    }

    > li > a:focus{
      background: rgba(200, 200, 200, .2);
    }
  }
}

.main-panel {
  position: relative;
  float: right;
  width: $full-width;
  min-height: 100vh;
  background: linear-gradient($background-black, $background-states-black);
  //border-top: 2px solid $primary;

  @include transitions(.5s, cubic-bezier(.685, .0473, .346, 1));

  > .content {
    min-height: calc(100vh - 70px);
    padding: 0 30px 30px 260px;
  }

  > .navbar {
    margin-bottom: 0;
  }

  .header {
    margin-bottom: 50px;
  }
}


.perfect-scrollbar-on {
  .sidebar,
  .main-panel {
    height: 100%;
    max-height: 100%;
  }
}


.panel-header {
  position: relative;
  height: $sidebar-width;
  padding-top: 80px;
  padding-bottom: 45px;
  overflow: hidden;
  background: #141e30;  /* fallback for old browsers */
  background: linear-gradient(to right, #0c2646 0%, #204065 60%, #2a5788 100%);

  .header {
    .title {
      color: $white;
    }

    .category {
      max-width: 600px;
      margin: 0 auto;
      font-size: 13px;
      color: $opacity-5;

      a {
        color: $white;
      }
    }
  }
}

.panel-header-sm{
  height: 135px;
}

.panel-header-lg {
  height: 380px;
}

@include media-breakpoint-down(md){
  .sidebar {
    position: fixed;
    top: 0;
    right: auto;
    left: 0;
    z-index: 1032;
    display: block;
    width: $sidebar-width;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: visible;
    visibility: visible;
    border-radius: 0;

    @include transition($sidebar-transition);
    @include transform-translate-x(-$sidebar-width);

    .sidebar-wrapper {
      height: 100vh;
    }
  }

  .minimize-sidebar {
    display: none;
  }

  .nav-open {
    .main-panel {
      right: 0;
      @include transform-translate-x($sidebar-width);
    }

    .sidebar {
      @include transition($sidebar-transition);
      @include transform-translate-x(0);

      &::before {
        content: unset;
      }
    }

    body {
      position: relative;
      overflow-x: hidden;
    }

    .menu-on-right {
      .main-panel {
        @include transform-translate-x(-$sidebar-width);
      }

      .navbar-collapse,
      .sidebar {
        @include transform-translate-x(0);
      }

      .bodyClick {
        right: $sidebar-width;
        left: auto;
      }
    }
  }

  .menu-on-right {
    .sidebar {
      right: 0;
      left: auto;

      @include transform-translate-x($sidebar-width);
    }
  }

  .bodyClick {
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    content: "";
    background-color: transparent;
    opacity: 1;
    @include transitions (.5s, cubic-bezier(.685, .0473, .346, 1));
  }

  .main-panel {
    width: 100%;

    .wrapper {
      @include transitions (.5s, cubic-bezier(.685, .0473, .346, 1));
    }

    .content {
      padding-left: 30px;
    }
  }
}

@include media-breakpoint-up(lg){
  .sidebar,
  .main-panel,
  .sidebar-wrapper {
    transition-timing-function: linear, linear, ease;
    transition-duration: .2s, .2s, .35s;
    transition-property: top, bottom, width;
  }

  .sidebar-mini {
    .visible-on-sidebar-regular {
      display: none !important;
    }

    .visible-on-sidebar-mini {
      display: inline-block !important;
    }

    .sidebar {
      z-index: 1051;
      display: block;
      width: $sidebar-mini-width;
      box-shadow: $sidebar-box-shadow;

      .logo{
        a.logo-normal{
          opacity: 0;
          @include transform-translate-x(-25px);
        }
      }

      // stylelint-disable
      .sidebar-wrapper {
        width: $sidebar-mini-width;
        overflow-x: hidden;

        > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info > a > span,
        > .nav li > a p {
          @include transform-translate-x(-25px);
          opacity: 0;
        }

        > .nav li > a p,
        > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info > a > span{
          @include transform-translate-x(0);
          opacity: 0;
        }
      }
      // stylelint-enable

      // stylelint-disable
      .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon{
        opacity: 1;
      }
      // stylelint-enable
    }

    .sidebar:hover {
      width: $sidebar-width;

      .logo {
        a.logo-normal {
          opacity: 1;
          @include transform-translate-x(0);
        }
      }

      .navbar-minimize {
        opacity: 1;
      }

      .sidebar-wrapper {
        width: $sidebar-width;

        // stylelint-disable
        > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info > a > span,
        > .nav li > a p {
          @include transform-translate-x(-25px);
          opacity: 1 !important;
        }

        > .nav li > a p,
        > .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
        .user .info > a > span{
          @include transform-translate-x(0);
          opacity: 1 !important;
        }
        // stylelint-enable
      }

      // stylelint-disable
      .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-mini-icon {
        opacity: 0;
      }

      .nav [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
      .user .info [data-toggle="collapse"] ~ div > ul > li > a .sidebar-normal,
      .user .info > a > span {
        opacity: 1;
      }
      // stylelint-enable
    }

    .main-panel{
      > .content{
        padding-left: 110px;
      }
    }

    footer {
      padding-left: 110px;
    }
  }

  .navbar-minimize {
    button {
      margin-left: 10px;

      i {
        font-size: 20px;
        color: $white;
      }
    }
  }
}

@include media-breakpoint-down(sm){
  .main-panel .content {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@include media-breakpoint-between (md, lg) {
  .wrapper {
    @include transitions (.5s, cubic-bezier(.685, .0473, .346, 1));
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: auto;
    left: 0;
    z-index: 1032;
    display: block;
    width: $sidebar-width !important;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-y: visible;
    visibility: visible;
    border-radius: 0;

    @include transition($sidebar-transition);
    @include transform-translate-x(-$sidebar-width);

    .sidebar-wrapper {
      height: 100vh;
    }
  }

  .main-panel {
    @include transition($sidebar-transition);

    > .content {
      padding-left: 30px !important;
    }
  }

  footer {
    padding-left: 30px !important;
  }

  .nav-open {
    .main-panel {
      right: 0;
      @include transform-translate-x($sidebar-width);
    }

    .sidebar {
      width: $sidebar-mini-width;
      @include transition($sidebar-transition);
      @include transform-translate-x(0);

      &::before {
        content: unset;
      }
    }

    body {
      position: relative;
      overflow-x: hidden;
    }

    .menu-on-right {
      .main-panel {
        @include transform-translate-x(-$sidebar-width);
      }

      .navbar-collapse,
      .sidebar {
        @include transform-translate-x(0);
      }

      .bodyClick{
        right: $sidebar-width;
        left: auto;
      }
    }
  }

  .menu-on-right {
    .sidebar {
      right: 0;
      left: auto;
      @include transform-translate-x($sidebar-width);
    }
  }

  .bodyClick {
    position: fixed;
    top: 0;
    right: 0;
    left: $sidebar-width;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    content: "";
    background-color: transparent;
    opacity: 1;
    @include transitions(.5s, cubic-bezier(.685, .0473, .346, 1));
  }

  .sidebar-mini .sidebar .logo a.logo-normal{
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  // stylelint-disable
  .sidebar-mini .sidebar .sidebar-wrapper > .nav li > a p {
    opacity: 1;
  }

  .sidebar-mini .sidebar .sidebar-wrapper .nav li a p {
    opacity: 1 !important;
    transform: translate3d(0, 0, 0);
  }
  // stylelint-enable

  .minimize-sidebar {
    display: none;
  }
}
