@mixin alert-outline-variant($color) {
  color: $color;
  background: transparent;
  border-color: $color;
  border-style: solid;
  border-width: 1px;

  hr {
    border-top-color: darken($color, 5%);
  }

  .alert-link {
    color: darken($color, 10%);
  }

  .close {
    color: $color;

    &:hover,
    &:focus {
      color: lighten($color, 10%) !important;
    }
  }
}
