@mixin diagonal-gradient($start-color, $end-color) {
  background: linear-gradient(to bottom left, $start-color, $end-color, $start-color);
  background-position: top right;
  background-size: 210% 210%;
}

@mixin linear-gradient($color, $states-color){
  background: $color;
  background: linear-gradient(0deg, $color 0%, $states-color 100%);
}

@mixin transform-translate-x($value){
  transform: translate3d($value, 0, 0);
}

@mixin transitions($time, $type){
  transition: all $time $type;
}

// Opacity
@mixin opacity($opacity) {
  $opacity-ie: ($opacity * 100);
  filter: #{alpha(opacity=$opacity-ie)};
  opacity: $opacity;
}
