<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body class="sidebar-mini">
    <div class="wrapper">
          {% include sidebar.html %}

          <div class="main-panel">
            <div class="content">
              <h1 class="bd-title" id="content">{{ page.title | smartify }}</h1>
              <p class="bd-lead">{{ page.description | smartify }}</p>
              {{ content }}
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>

  {% include scripts.html %}
</html>
