<!doctype html>
<html lang="en">
  <head>
    {% include header.html %}
  </head>
  <body>
    <div class="container-fluid">
      <div class="row flex-xl-nowrap">
        <div class="col-2">
          {% include sidebar.html %}
        </div>

        <main class="col-10" role="main">
          <h1 class="bd-title" id="content">{{ page.title | smartify }}</h1>
          <p class="bd-lead">{{ page.description | smartify }}</p>
          {{ content }}
        </main>
      </div>
    </div>
  </body>

  {% include scripts.html %}
</html>
